@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<<!DOCTYPE html>
<html lang="en">
<head>
    <title> Grey SL.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~pagecss/layout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="container">

        <section id="cart">
            <article class="product">
                <header>
                    <a class="remove">
                        <img src="chiffion.jpg" alt="">

                        <h3>Remove product</h3>
                    </a>
                </header>

                <div class="content">

                    <h1>Female Ciffion top</h1>

                    This is available in all colors and all sizes, it is Nigeria made designed by Markfisher.

                    <div title="You have selected this product to be shipped in the color yellow." style="top: 0" class="color yellow"></div>
                    <div style="top: 43px" class="type small">XL</div>
                </div>

                <footer class="content">
                    <span class="qt-minus">-</span>
                    <span class="qt">0</span>
                    <span class="qt-plus">+</span>

                    <h2 class="full-price">
                        ₦2,500.00
                    </h2>

                    <h2 class="price">
                        ₦2,500.00
                    </h2>
                </footer>
            </article>

            <article class="product">
                <header>
                    <a class="remove">
                        <img src="~/Images/hoody.jpg" alt="">

                        <h3>Remove product</h3>
                    </a>
                </header>

                <div class="content">

                    <h1>Swaden Hoody</h1>

                    This is available in all colors and all sizes, it is Nigeria made designed by Markfisher.

                    <div title="You have selected this product to be shipped in the color red." style="top: 0" class="color red"></div>
                    <div title="You have selected this product to be shipped sized Small." style="top: 43px" class="type small">Small</div>
                </div>

                <footer class="content">

                    <span class="qt-minus">-</span>
                    <span class="qt">0</span>
                    <span class="qt-plus">+</span>

                    <h2 class="full-price">
                        ₦2,500.00
                    </h2>

                    <h2 class="price">
                        ₦2,500.00
                    </h2>
                </footer>
            </article>

            <article class="product">
                <header>
                    <a class="remove">
                        <img src="~/Images/jacket.jpg" alt="">

                        <h3>Remove product</h3>
                    </a>
                </header>

                <div class="content">

                    <h1>Varsity Jacket</h1>

                    This is available in all colors and all sizes, it is Nigeria made designed by Markfisher.

                    <div title="You have selected this product to be shipped in the color red." style="top: 0" class="color red"></div>
                    <div title="You have selected this product to be shipped sized Small." style="top: 43px" class="type small">Small</div>
                </div>

                <footer class="content">

                    <span class="qt-minus">-</span>
                    <span class="qt">0</span>
                    <span class="qt-plus">+</span>

                    <h2 class="full-price">
                        ₦2,500.00
                    </h2>

                    <h2 class="price">
                        ₦2,500.00
                    </h2>
                </footer>
            </article>

            <article class="product">
                <header>
                    <a class="remove">
                        <img src="~/Images/sweater.jpg" alt="">

                        <h3>Remove product</h3>
                    </a>
                </header>

                <div class="content">

                    <h1>Crop Sweater</h1>

                    This is available in all colors and all sizes, it is Nigeria made designed by Markfisher.

                    <div title="You have selected this product to be shipped in the color blue." style="top: 0" class="color blue"></div>
                    <div style="top: 43px" class="type small">Large</div>
                </div>

                <footer class="content">

                    <span class="qt-minus">-</span>
                    <span class="qt">0</span>
                    <span class="qt-plus">+</span>

                    <h2 class="full-price">
                        ₦2,500.00
                    </h2>

                    <h2 class="price">
                        ₦2,500.00
                    </h2>
                </footer>
            </article>

        </section>

    </div>

    <footer id="site-footer">
        <div class="container clearfix">

            <div class="left">
                <h2 class="subtotal">Subtotal: <span>₦</span>0</h2>
                <h3 class="tax">Taxes (5%): <span>₦</span>0</h3>
                <h3 class="shipping">Shipping: <span>₦</span>5.00</h3>
            </div>

            <div class="right">
                <h1 class="total">Total: <span>₦</span>0</h1>
                <a class="btn">Checkout</a>
            </div>

        </div>
    </footer>
</body>
</html>
