@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="~/Images/home1.jpg" alt>" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="~/Images/home2.jpg" alt>"></li>
        <li data-target="#myCarousel" data-slide-to="~/Images/home3.jpg" alt>"></li>
        <li data-target="#myCarousel" data-slide-to="~/Images/home4.jpg" alt>"></li>
    </ol>
   </div>